<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Campground</title>
  </head>
  <body>
    <form class="" action="/campgrounds" method="post">
      <div class="">
        <label for="title">Title</label>
        <input type="text" name="campground[title]" value="" id="title">
      </div>
      <div class="">
        <label for="location">Location</label>
        <input type="text" name="campground[location]" value="" id="location">
      </div>
      <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </body>
</html>
