<% layout('layouts/boilerplate') %>

<div class="container justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img class="card-image-top" src="https://images.unsplash.com/photo-1550847578-23d0a7de50c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGNhbXBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" name="username" value="" id="username" autofocus required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" name="password" value="" id="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>